.text1 {
    font-size: 20px;
    font-family: Times, Times New Roman, serif;
}
.text2 {
    font-size: 13px;
    font-family: Courier, monospace;
}
.container .box1 .box11 img{
    right:38rem;
    position:absolute;
}
.price{
    position:absolute;
    right:15rem;
}


.price{
    text-align:left;
}


.container{
    display:flex;
}
.container .first-box{
    flex:50%;
}
.container .second-box{
    flex:50%;
}
.box1{
    display:flex;
    position:relative;
}
    .box1 .box11{
        flex:1;
        
    }
    .box1 .box12 {
        flex: 1;
    }
    .box1 .box13 {
        flex: 5;
    }
.box1 .box11 img{
    width:10rem;
    height:8rem;

}

